<div style='font-family:Microsoft YaHei;font-size:10px;color:#333333;'>
    <span style='color:#E53333;font-size:40px'>客户确认</span><br/><br/>
    <table width='100%' border=0' bordercolor='#009900' style='font-size:30px;margin-left:0px;color:#333333;table-layout:fixed'>
        <tr height="50px">
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">付款账号：{0}</td>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">付款人姓名：{1}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">征收机关代码：{2}</td>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">收款人账号：{3}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">开票日期：{4}</td>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">委托日期：{5}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">收款人名称：{6}</td>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">纳税人编码：{7}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">交易流水号：{8}</td>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">币种：{9}</td>
        </tr>
        <tr>
            <td colspan="2" style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;">纳税人名称：{10}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">国库代码：{12}</td>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">金额：{12}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">系统类别：{13}</td>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">收款人行号：{14}</td>
        </tr>
        <tr>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">税票号码：{15}</td>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">税种条数：{16}</td>
        </tr>
    </table>

    <div style="overflow-x: scroll;margin-top: 10px;">
        <table width='100%;' border="1" bordercolor='#009900' style='font-size:30px;margin-left:0px;color:#333333;'>
            <thead>
                <tr>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">项目序号</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">预算科目代码</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">限缴日期</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">税种名称</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">预算级次代码</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">预算级次名称</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">税款所属日期起</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">税款所属日期止</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">税种金额</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">辅助标志</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">合同号</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">运输工具号</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">提/装货单号</th>
                    <th style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">国际代码</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>0</td>
                    <td>1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>